VITE_SUPABASE_URL=https://jhbvpiqlfyzsohzwqxnr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoYnZwaXFsZnl6c29oendxeG5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NTE3NzAsImV4cCI6MjA5MzUyNzc3MH0.QJp5vH8tPQ9KoROX4qXikZkPIXNP-8ymfX3fZMHXERs
